body{
background: #000000;
background: -webkit-linear-gradient(to right, #434343, #000000);  
background: linear-gradient(to right, #434343, #000000); 
height: 650px;
display: flex;
justify-content: center;
align-items: center;
}

form{
    text-align: center;
    background: #fff;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.form{
    width: 100%;
    margin: auto;
}

input{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
}

button{
    font-family: fantasy;
    background: #333333;  
    background: -webkit-linear-gradient(to right, #dd1818, #333333);  
    background: linear-gradient(to right, #dd1818, #333333); 
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: white;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}